@import '../common.scss';

.cart {
  display: flex;
  flex-direction: column;
}
.cartItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: lime;
}
.cartItem * {
  display: block;
}
.cartItem img {
  width: 90px;
}
