.loginForm {
  width: 300px;
  margin: 10vh auto;
  position: relative;
}
.loginForm input {
  margin: 1rem;
  width: 20rem;
  height: 3rem;
}
.loginForm button {
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  right: 0;
}
