@import '../common.scss';

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pageNumbers {
  margin: 1rem;
  text-align: center;
}
.pageNumbers > li {
  display: inline-block;
  padding: 1rem;
  margin-right: 1em;
  cursor: pointer;
}
