@import '../common.scss';

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.listItem {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.listItem * {
  display: block;
  padding-top: 1rem;
}
.listItem img {
  width: 170px;
  margin: 0 auto;
}
.price {
  color: #666;
  font-weight: 900;
}
.pageNumbers {
  display: flex;
}
.pageNumbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
